extends extends/layout.pug

block content
  h1.title.error Error 404: Page not found!
  hr
  h2 Please remain in allowed channels only such as the 
    a(href="/") Home 
    | or 
    a(href="/register") Register here!
  h2 Already have an account? 
    a(href="/login") Login here!
