extends extends/layout.pug

block content
  h2.title Register Here!
  form(method="post", action="/register")
    h2 Username
    .error #{message1}
    input(type="text", id="username", name="username").row
    h2 Email
    input(type="email", id="email", name="email").row
    .error #{message2}
    h2 Password
    input(type="password", id="Password", name="password").row
    h2 Confirm Password
    input(type="password", id="confirm-Password", name="confirmPassword").row
    button(type="submit", name="submit").row 
      .col
        h3 Register
  
