head
  meta(charset="utf-8")
  link(rel='stylesheet', type='text/css', href='/css/main.min.css')
  //- link(rel="shotcut icon", type="image/png" href="images/misc/favicon.png")
  script(
    src="https://code.jquery.com/jquery-3.4.1.min.js",
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
    crossorigin="anonymous")
